asciidoc==10.2.0
attrs==22.2.0
beautifulsoup4==4.12.2
btrfsutil==6.3
cffi==1.15.1
chardet==5.1.0
configobj==5.0.8
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
docopt==0.6.2
fonttools==4.39.4
httplib2==0.22.0
idna==3.4
joblib==1.2.0
keyutils==0.6
kiwisolver==1.4.4
lensfun==0.3.3
lit==15.0.7.dev0
llvmlite==0.40.0
lxml==4.9.2
matplotlib==3.7.1
meson==1.1.0
numba==0.57.0
numpy==1.24.3
packaging==23.0
Pillow==9.5.0
ply==3.11
pycairo==1.23.0
pycparser==2.21
pycurl==7.45.2
PyGObject==3.44.1
pynndescent==0.5.10
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soupsieve==2.4.1
threadpoolctl==3.1.0
tqdm==4.65.0
typing_extensions==4.5.0
udiskie==2.4.2
umap-learn==0.5.3
urllib3==1.26.15
validate==5.0.8
variety==0.8.10
