asciidoc==10.2.0
attrs==22.2.0
autocommand==2.2.2
beautifulsoup4==4.12.2
btrfsutil==6.3
build==0.10.0
cffi==1.15.1
chardet==5.1.0
configobj==5.0.8
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
distro==1.8.0
docopt==0.6.2
fastjsonschema==2.17.1
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
fonttools==4.39.4
gmpy2==2.1.5
httplib2==0.22.0
idna==3.4
inflect==6.0.4
iniconfig==2.0.0
installer==0.7.0
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
joblib==1.2.0
keyutils==0.6
kiwisolver==1.4.4
lensfun==0.3.3
lit==15.0.7.dev0
llvmlite==0.40.0
lxml==4.9.2
matplotlib==3.7.1
meson==1.1.1
more-itertools==9.1.0
mpi4py==3.1.4
mpmath==1.3.0
numba==0.57.0
numpy==1.24.3
ordered-set==4.1.0
packaging==23.1
petsc4py==3.19.1
Pillow==9.5.0
platformdirs==3.5.1
pluggy==1.0.0
ply==3.11
pybind11==2.10.4
pycairo==1.23.0
pycparser==2.21
pycurl==7.45.2
pydantic==1.10.8
PyGObject==3.44.1
pygraphviz==1.10
pynndescent==0.5.10
pyparsing==3.0.9
pyproject_hooks==1.0.0
pytest==7.3.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.2
scikit-build==0.17.1
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soupsieve==2.4.1
sympy==1.12
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.65.0
trove-classifiers==2023.5.25
typing_extensions==4.6.2
udiskie==2.4.2
umap-learn==0.5.3
urllib3==1.26.15
validate==5.0.8
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
variety==0.8.10
